* {
    margin: 0px;
    padding: 0px;

}

.container {
    max-width: 1080px;
    margin: auto;


}

.banner {
    background: linear-gradient(to top, #111111 100%, #777777 0%);


}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    color: #E6533C;
    font-size: 26px;
    font-family: Inter;

}

.menu {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    padding: 10px;
}

.menu li {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Inter;

}

#home {
    background-color: #E6533C;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    max-width: 1080px;
    margin: auto;
}

.hero-text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
    width: 530px;
}

.hero-text p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF80;
    margin: 30px 5px 30px 5px;

}

.hero-img {
    margin-right: -20%;
}


.shape {
    font-family: "Playwrite AU SA", serif;
    font-weight: 100;
}

.hero-btn button {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;

}

.btn-1 {
    background-color: #E6533C;
    color: #fff;

}


.card-1 {
    color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 25px 18px 25px;
    margin-left: -12%;
    margin-top: -18%;
    margin-right: -10%;
}

.card-2 {
    color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 25px 18px 25px;
    width: 206px;

    margin-top: -30%;
    margin-left: -32%;

}

.habit-section {
    max-width: 1080px;
    margin: auto;
    text-align: center;
    padding: 20px;
    gap: 20px;
    color: #fff;
}

.habit-section h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}

.habit-section p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
}

.habit-section h4 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.habit-section-img {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    margin: 30px;

}

.habits img {
    border-radius: 50%;
    margin: 20px;

}

.all-habit-sec {
    background-color: #111111;
    padding: 20px;
}

.extra-mile {
    display: flex;
    color: #fff;
    max-width: 1080px;
    margin: auto;
    background-color: #222222;
    padding: 40px 60px 40px 60px;
    justify-content: space-between;
    border-radius: 18px;
    align-items: center;


}



.extra-mile-text h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;

}

.extra-mile-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 30px 0px 30px 0px;
}

.extra-mile-text button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;

}


.extra-mile-img img {
    border-radius: 18px;
    width: 366px;



}