* {
    margin: 0px;
    padding: 0px;

}



.container {
    max-width: 1080px;
    margin: auto;


}

.banner {
    background: linear-gradient(to top, #111111 100%, #777777 0%);


}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo {
    color: #E6533C;
    font-size: 1.6rem;
    font-family: Inter;

}

.menu {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    padding: 10px;
}

.menu li {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Inter;

}

.hamburger{
    color: #fff;
    font-size: 20px;
    display: none;
}

#home {
    background-color: #E6533C;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
}

.hero-container{
    background: linear-gradient(to top, #111111 100%, #777777 0%);

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    
}

.hero-text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
    width: 530px;
}

.hero-text p {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF80;
    margin: 30px 5px 30px 5px;

}

.hero-img {
   display: flex;
   align-items: center;
   position: relative;
}


.shape {
    font-family: "Playwrite AU SA", serif;
    font-weight: 100;
}

.hero-btn button {
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;

}

.btn-1 {
    background-color: #E6533C;
    color: #fff;

}


.card-1 {
    color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 25px 18px 25px;
    margin-top: -15%;
    margin-left: 75%;
    
    
    
    position: absolute;
}

.card-2 {
    color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 25px 18px 25px;
    width: 206px;
    top: 85%;
    margin-left: -32%;
    position: absolute;

}

.habit-section {
    max-width: 1440px;
    margin: auto;
    text-align: center;
    padding: 20px;
    gap: 20px;
    color: #fff;
}

.habit-section h1 {
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.habit-section p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
}

.habit-section h4 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.habit-section-img {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: #fff;
    margin: 30px;

}

.habits img {
    border-radius: 50%;
    margin: 20px;

}

.all-habit-sec {
    background-color: #111111;
    padding: 20px;
}

.extra-mile {
    display: flex;
    color: #fff;
    max-width: 1080px;
    margin: auto;
    background-color: #222222;
    padding: 40px 60px 40px 60px;
    justify-content: space-between;
    border-radius: 18px;
    align-items: center;


}



.extra-mile-text h1 {
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;

}

.extra-mile-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 30px 0px 30px 0px;
}

.extra-mile-text button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;

}


.extra-mile-img img {
    border-radius: 18px;
    width: 366px;



}

.traing-text {
    max-width: 1080px;
    margin: 100px auto;
    text-align: center;


}

.traing-text h1 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    color: #fff;

}

.traing-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 30px 0px 30px 0px;

}

.trainig div img {
    width: 400px;
    background-repeat: no-repeat;
}


.trainig {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
}




.test-tr {
    max-width: 1080px;
    margin: auto;
    background-color: #222222;
    padding: 10px;
    border-radius: 18px;

}

.test-training {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;



}



.test-training-p {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
}

.test-training-1 {
    width: 326.67px;
    height: 272px;
    background: url("images/trainer1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;

}

.test-training-2 {
    width: 326.67px;
    height: 272px;
    background: url("images/trainer2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}

.test-training-3 {
    width: 326.67px;
    height: 272px;
    background: url("images/trainer3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}

.test-training-4 {
    width: 326.67px;
    height: 272px;
    background: url("images/trainer4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}

.test-training-5 {
    width: 326.67px;
    height: 272px;
    background: url("images/trainer5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}

.test-training-6 {
    width: 326.67px;
    height: 272px;
    background: url("images/trainer6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}



.test-training-1,
.test-training-2,
.test-training-3,
.test-training-4,
.test-training-5,
.test-training-6 {
    position: relative;

    display: flex;

    align-items: flex-end;

    justify-content: flex-start;

}

.test-training-1 h4,
.test-training-2 h4,
.test-training-3 h4,
.test-training-4 h4,
.test-training-5 h4,
.test-training-6 h4 {
    position: absolute;
    bottom: 20px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    font-family: Inter;

    border-radius: 5px;
    font-size: 26px;
}

.test-training-1 p,
.test-training-2 p,
.test-training-3 p,
.test-training-4 p,
.test-training-5 p,
.test-training-6 p {
    position: absolute;
    bottom: 0px;
    left: 10px;
    margin: 0;
    padding: 5px 10px;
    color: #777777;

    border-radius: 5px;
    font-size: 16px;

}

footer{
    background-color: #222222;
    

}

.footere{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 1080px;
    margin: auto;
    padding: 50px;
    align-items: center;
    
}

.ftr-logo h2{
    color: #E6533C;
    font-size: 36px;
    font-family: Inter;
    font-weight: 800;
}

.ftr-logo p{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0px;
}

.ftr-service, .ftr-fitness{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
}

.copyright{
    max-width: 1080px;
    margin: auto;
    
}

.copyright h5{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px;
    text-align: center;

}